node_modules/
.env
package-lock.json
requirements.txt
*.mp3
*.jpg
examples/speech.mp3
examples/*.jpg
images/*.jpg
images/*.png
pnpm-lock.yaml
.DS_Store
examples/scraper_basic.js
examples/scraper_advanced.js